@charset "UTF-8";
@font-face {
  font-family: mom;
  font-display: swap;
  src: url("../fonts/Momоt___.woff2") format("woff2"), url("../fonts/Momоt___.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__row {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  margin: 0px -15px;
}

.header-menu__item {
  font-family: mom;
  color: white;
  line-height: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px;
}

.header-menu__icon-item {
  margin-bottom: 13px;
  object-fit: contain;
  width: 60px;
  height: 60px;
}

.header__stop-war {
  margin-top: 16px;
}

.header-stop-war {
  color: white;
}

.header-stop-war__content {
  display: flex;
  align-items: center;
}

.header-stop-war__uk-icon {
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px 0px 100.8px rgba(208, 211, 39, 0.2)) drop-shadow(0px 0px 57.6px rgba(208, 211, 39, 0.2)) drop-shadow(0px 0px 33.6px rgba(208, 211, 39, 0.2)) drop-shadow(0px 0px 16.8px rgba(208, 211, 39, 0.2)) drop-shadow(0px 0px 4.8px rgba(208, 211, 39, 0.2)) drop-shadow(0px 0px 2.4px rgba(208, 211, 39, 0.2));
  order: 2;
  margin-left: 12px;
}

@media (max-width: 1110px) {
  .header-menu__icon-item {
    width: 50px;
    height: 50px;
  }
  .header-menu__item {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .header-menu__icon-item {
    width: 40px;
    height: 40px;
  }
  .header-menu__item {
    font-size: 8px;
  }
  .header-stop-war__uk-icon {
    width: 15px;
    height: 15px;
  }
  .header-stop-war__content {
    font-size: 12px;
    line-height: 120%;
  }
  .header-menu__item {
    margin: 2px;
  }
  .header__menu {
    margin: -2px;
  }
  .header__row {
    padding-top: 20px;
    margin: 0;
  }
  .header__stop-war {
    margin: 0;
  }
}
@media (max-width: 315px) {
  .header__r-part {
    display: none;
  }
  .header__l-part {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .header-menu {
    flex: 1 1 auto;
    max-width: 100%;
    justify-content: space-between;
  }
}